<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/schedule.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students/info}"  sec:authorize="hasAuthority('ADMIN')">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courses/info}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courses/schedule/monday}">Schedule</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img src="/img/ukraine.png" alt=""></a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<table class="table table-info table-striped">
    <thead>
    <tr>
        <th scope="col">Day</th>
        <th scope="col">Courses</th>
    </tr>
    </thead>
<tbody>

    <h2 th:text="${day}"> </h2>
    <tr th:each="timeslot : ${timeslots}">
        <td><span th:text="${timeslot.time.toString()}"> </span></td>
        <td><span th:each="course : ${timeslot.course}">
        <span class="badge badge-success" th:text="${course.title+','+course.lector}">
        </span>
        </span>
        </td>
    </tr>
</tbody>
</table>
<a class="btn btn-outline-info" th:href="@{/courses/schedule/{day}(day=${'monday'})}">Monday</a>
<a class="btn btn-outline-info" th:href="@{/courses/schedule/{day}(day=${'tuesday'})}">Tuesday</a>
<a class="btn btn-outline-info" th:href="@{/courses/schedule/{day}(day=${'wednesday'})}">Wednesday</a>
<a class="btn btn-outline-info" th:href="@{/courses/schedule/{day}(day=${'thursday'})}">Thursday</a>
<a class="btn btn-outline-info" th:href="@{/courses/schedule/{day}(day=${'friday'})}">Friday</a>
<a class="btn btn-outline-info" th:href="@{/courses/schedule/{day}(day=${'saturday'})}">Saturday</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>