<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.project.schedule.Logging">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name = "checkStudentAdding" target = "SYSTEM_OUT">
            <PatternLayout  pattern="%-4r [%t] %5p %c{1} - %m - student.id=%X{student.id} student.name=%X{student.name}%n"/>
            <MarkerFilter marker="checkStudent" onMatch="ACCEPT" onMismatch="DENY" />
            >
        </Console>
        <Console name = "checkCourseAdding" target = "SYSTEM_OUT">
            <PatternLayout  pattern="%-4r [%t] %5p %c{1} - %m - course.id=%X{course.id} course.name=%X{course.name}%n"/>
            <MarkerFilter marker="checkCourse" onMatch="ACCEPT" onMismatch="DENY" />
            >
        </Console>
        <CustomAppender name = "myAppender">
            <CustomLayout/>
            <MarkerFilter marker="GENERAL" onMatch="ACCEPT" onMismatch="DENY" />
            >
        </CustomAppender>
        <RollingFile name="RollingFile"
                     fileName="./logs/spring-boot-logger-log4j2.log"
                     filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern = "${LOG_PATTERN}"/>
            <Policies>
<!--                 <OnStartupTriggeringPolicy />-->
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
<!--                <TimeBasedTriggeringPolicy />-->
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level = "info">
            <AppenderRef ref = "RollingFile"/>
            <AppenderRef ref = "checkStudentAdding"/>
            <AppenderRef ref = "checkCourseAdding"/>
        </Root>
        <Logger name = "com.project.schedule" level = "trace">
            <AppenderRef ref = "myAppender"/>

        </Logger>
    </Loggers>
</Configuration>